{% extends 'base.html.twig' %}

{% block title %}{{ 'app_action'|trans({}, 'routes') }} - {{ 'app_action_standard'|trans({}, 'routes') }} • {{ parent() }}{% endblock %}
{% block header %}<span class="text-secondary">{{ 'app_action'|trans({}, 'routes') }}<i class="bi bi-chevron-right mx-1"></i></span>{{ 'app_action_standard'|trans({}, 'routes') }}{% endblock %}
{% block toolbar %}
    {{ component('Button', {
        tag: 'a',
        context: 'outline-primary',
        href: 'https://data-table-bundle.swroblewski.pl/reference/types/action.html',
        icon: 'book',
        target: '_blank',
        label: 'documentation'|trans({}, 'buttons'),
        tooltip: {placement: 'bottom', title: 'documentation'|trans({}, 'buttons')},
        responsive: true,
    }) }}
    {{ component('Button', {
        tag: 'button',
        context: 'outline-primary',
        icon: 'braces',
        'data-bs-toggle': 'modal',
        'data-bs-target': '#sourceCodeModal',
        label: 'source_code'|trans({}, 'buttons'),
        tooltip: {placement: 'bottom', title: 'source_code'|trans({}, 'buttons')},
        responsive: true,
    }) }}
{% endblock %}

{% block modals %}
    {{ component('SourceCodeModal', {classes: source_code_classes}) }}
{% endblock %}

{% block body %}
    <div class="card">
        {{ data_table(employees) }}
    </div>
{% endblock %}
