<div class="modal fade" id="{{ id }}" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">{{ 'source_code'|trans({}, 'buttons') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'close'|trans({}, 'buttons') }}"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills" role="tablist">
                    {% for sourceCode in sourceCodes %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link {{ sourceCode.id == (sourceCodes|first).id ? 'active' }}" id="{{ sourceCode.id ~ 'Tab' }}" data-bs-toggle="tab" data-bs-target="#{{ sourceCode.id ~ 'TabPane' }}" type="button" role="tab" aria-controls="{{ sourceCode.id ~ 'TabPane' }}" aria-selected="{{ sourceCode.id == (sourceCodes|first).id ? 'true' : 'false' }}">{{ sourceCode.name }}</button>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for sourceCode in sourceCodes %}
                        <div class="tab-pane fade {{ sourceCode.id == (sourceCodes|first).id ? 'show active' }}" id="{{ sourceCode.id ~ 'TabPane' }}" role="tabpanel" aria-labelledby="{{ sourceCode.id ~ 'Tab' }}" tabindex="0">{{ sourceCode.content|raw }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
