{% props elements = [] %}
<ul class="list-unstyled px-2 pb-2 mb-auto">
    {% for element in elements %}
        {% if element.children is defined %}
            {% if element.visible ?? true %}
                {% set is_expanded = false %}
                {% for child in element.children %}
                    {%
                        if app.current_route in child.active_routes|keys and
                        (child.active_routes[app.current_route] ?? []) == app.current_route_parameters|filter((value, key) => key in (child.active_routes[app.current_route] ?? [])|keys)
                    %}
                        {% set is_expanded = true %}
                    {% endif %}
                {% endfor %}

                {# expandable menu #}
                <li class="mb-1 d-grid">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 justify-content-start {{ is_expanded ? 'active' : 'collapsed' }}" data-bs-toggle="collapse" data-bs-target="#{{ element.id }}_menu" aria-expanded="{{ is_expanded ? 'true' : 'false' }}">
                        {{ element.label }}
                    </button>
                    <div class="collapse {{ is_expanded ? 'show' }}" id="{{ element.id }}_menu">
                        <ul class="btn-toggle-nav list-unstyled fw-normal">
                            {# children #}
                            {% for child in element.children %}
                                {% if child.visible ?? true %}
                                    {%
                                        set is_active = app.current_route in child.active_routes|keys and
                                        (child.active_routes[app.current_route] ?? []) == app.current_route_parameters|filter((value, key) => key in (child.active_routes[app.current_route] ?? [])|keys)
                                    %}
                                    <li class="d-grid">
                                        <a href="{{ child.path }}" class="btn d-inline-flex text-decoration-none rounded border-0 text-start justify-content-start {{ is_active ? 'active' }}" {{ is_active ? 'aria-current="page"' }}><small><i class="bi bi-{{ child.icon }} me-2"></i>{{ child.label }}</small></a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endif %}
        {% else %} {# if there is no children #}
            {% if element.visible ?? true %}
                {%
                    set is_active = app.current_route in element.active_routes|keys and
                    (element.active_routes[app.current_route] ?? []) == app.current_route_parameters|filter((value, key) => key in (element.active_routes[app.current_route] ?? [])|keys)
                %}
                <li class="mb-1 d-grid">
                    <a href="{{ element.path }}" class="btn d-inline-flex align-items-center rounded border-0 justify-content-start {{ is_active ? 'active' }}" {{ is_active ? 'aria-current="page"' }}>
                        <i class="bi bi-{{ element.icon }} me-2"></i>{{ element.label }}
                    </a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
